h1 {
    color: rgb(126, 126, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h2 {
    color: rgb(126, 126, 126);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    position: relative;
}
body {
    background-color:antiquewhite;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(kaupaunki\ joo.jpg);
}
p {
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: monospace;
}
li {
    color: rgb(0, 0, 0)
}
dl {
    color: rgb(0, 0, 0);
    text-align: center;
}
 .opiskelu1 {
    
 }
 .harrastukset1 {
    text-align: center;
 }
 .yhteystiedot1 {

 }

 p {
    text-align: center;
    font-family: monospace;
 }
 button {
    text-align: center;
 }
 .tietojadiv {
    background-color:rgba(250, 235, 215, 0);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
 }
.h2div {
    display:flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    position: relative;
}
.tietojanappi {
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.226)
}
#tietojateksti {
    text-align: left;
}
.opiskeludiv {
    width: 20%;
    height:60px;
    margin-left: auto;
    margin-right: auto;
}
#opiskeluid1 {
    text-align: left;
}
.sähköpostidiv {
    width: 20%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: large;
}
#sähköpostiid1 {
    text-align: left;
}
#gmailkuvaid1 {
    margin-left: 14px
    
}
.maapallogifi {
    width: 500px;
    height: 500px;
    margin-top: -455px;
    float: left;
    margin-left: 900px;
}  

#maapallogif {
    width: 40%;
    height: 40%;
}


@media screen and (max-width: 600px) {
    
}
  
#projektitnappi {
    position: relative;
    width: 28%;
    height: 50%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: rgb(126, 126, 126); 
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    cursor: pointer;
    margin-top: 0;
    
}

#projektinappidiv:hover {
    background-color: rgba(0, 0, 0, 0.055);
}

#projektinappidiv {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    text-align: center;
}
  
 